@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Raleway:200|Maven+Pro:700|Montserrat:900");

body {
  font-family: "Roboto", "Franklin Gothic Medium", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 900;
  color: #333;
}

.hero {
  font-size: 5rem;
}

.container-lg {
  max-width: 1600px;
  margin: 0 auto;
}

.container-md {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

strong {
  font-weight: 500;
}

footer {
  display: none;
}

.banner-text {
  padding: 1.2rem 24px 4rem;
  position: relative;
  z-index: 1;
}

.hpot {
  display: none;
}

.img-fluid {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.banner1 {
  // background-image: url("../images/office.jpg");
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: repeat-x;
  background-color: #241d2b;
  /* background-size: auto 100%; */
  color: #fff;
  position: relative;
  overflow: hidden;
}
